/* HEADER */

header {
    background-color: #599A08;
}

.list-navbar-items li {
    padding-top: 10px;
    font-size: 15px;
    list-style: none;
    padding-right: 15px;
}

.phone-header {
    padding-top: 10px;
    font-size: 15px;
}